.content {
    background-image: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 4px, transparent 4px, transparent 28px);
    min-height: calc(100vh - 57px);
}

.container-lg > .row {
    background-color: rgba(255, 235, 127, 0.9);
    box-shadow: 1px 1px rgba(0, 0, 0, 0.2);
}

.real-estate {
    margin-top: 1rem;
    min-height: calc(100vh - 4px);
}

.real-estate > div:not(:first-child) {
    box-shadow: -1px 0 rgba(0, 0, 0, 0.2);
}

#editor {
    margin-left: -12px;
    font-size: 1.2rem;
    width: calc(100% + 22px);
}

#editor, #editor > * {
    height: calc(100vh - 44px);
}

#editor > *, #editor .CodeMirror-gutters {
    background: transparent;
    outline: none;
}

.chars-holder {
    line-height: 1;
    margin-top: -2px;
    text-align: end;
    padding-right: 4px;
}

.hidden {
    display: none;
}

.table-responsive {
    max-height: 50vh;
}

.pagination-responsive {
    overflow-x: auto;
    width: 100%;
}

.subheader-space {
    margin-top: 2rem;
}

.table-responsive > table, .pagination-responsive > ul {
    margin-bottom: 0;
}

table.result-data tbody > tr > th {
    border-right: 1px solid black;
}

.target-result {
    font-size: 4rem;
    text-align: center;
}

.score-holder {
    text-align: center;
}

.current-score {
    font-size: 2rem;
    background: white;
    padding: 8px;
    width: auto;
    border-radius: 8px;
}

.leader-table {
    width: 100%;
}

.leader-table th, .leader-table  td {
    border-bottom: 1px solid #00000033;
}

.leader-table img {
    width: 64px;
    height: 64px;
    margin-right: 16px;
    border-radius: 50%;
}

.leaderboard .actions {
    justify-content: space-between;
    display: flex;
}

.loading-spinner {
    float: right;
}

@media (max-width: 767px) {
    .mobile-spacer {
        margin-bottom: 50vh;
    }
}
