.content {
    background-image: repeating-linear-gradient(-45deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2) 4px, transparent 4px, transparent 28px);
    min-height: calc(100vh - 57px);
}

.welcome {
    padding-top: 3rem;
}

.row > .col {
    margin-bottom: 1.25rem;
}

.col > div {
    background-color: rgba(255, 235, 127, 0.95);
    padding: 1rem;
}

.welcome article {
    font-size: 1.25rem;
    font-weight: bolder;
}

.users-online {
    text-align: center;
}

.users-online > span {
    font-size: 3rem;
}

.users-online > article {
    font-size: 3rem;
    font-weight: bold;
    margin: -20px;
}

.hidden {
    display: none;
}

.shadow-1 {
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
}

.shadow-2 {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.shadow-3 {
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.shadow-4 {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.shadow-5 {
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}

.shadow-fill {
    background-color: rgb(255 236 134);
    padding: 10px;
}

.shadow-fill + .shadow-fill {
    margin-top: 15px;
}

.challenge {
    position: relative;
}

.challenge-title {
    padding-left: 10px;
}

.challenge h4 {
    padding-left: 10px;
}

.challenge h4:hover {
    cursor: pointer;
    text-decoration: underline;
}

.challenge > div {
    width: 49%;
    display: inline-block;
    vertical-align: top;
    padding-left: 10px;
    min-height: 160px;
}

.challenge article {
    padding-bottom: 1rem;
}

.challenge > div > .leaders {
    text-align: center;
}

.challenge > div > .leaders > h5 {
    margin-right: 8px;
}

.challenge > div > .leaders > img {
    background-color: gold;
    border-radius: 50%;
    width: 3rem;
    height: 3rem;
    margin-right: 4px;
    cursor: pointer;
}

.challenge > div > .leaders > img:nth-child(3):last-child {
    display: block;
    margin-left: 27px;
}

.challenge > img {
    max-width: 50%;
    max-height: 250px;
    display: inline;
    height: auto;
    width: auto;
    position: relative;
    cursor: pointer;
    padding: 0.75rem;
    float: right;
}

.challenge span {
    position: absolute;
    right: 20px;
    top: calc(2rem + 20px);
    font-weight: bolder;
    background: white;
    border-radius: 10px;
    padding: 2px 5px;
}

.challenge > img:hover + span,
.challenge span:hover {
    cursor: pointer;
    text-decoration: underline;
}
