<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    <link rel="mask-icon" href="/safari-pinned-tab.svg" color="#ffd700">
    <meta name="apple-mobile-web-app-title" content="SQLBattle">
    <meta name="application-name" content="SQLBattle">
    <meta name="msapplication-TileColor" content="#ffc40d">
    <meta name="msapplication-TileImage" content="/mstile-144x144.png">
    <meta name="theme-color" content="#ffffff">
    <meta name="description" content="{{ desc }}">

    <script src="https://kit.fontawesome.com/5dfee7cf2f.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css2?family=Akaya+Kanadaka&family=Roboto&family=Ubuntu&display=swap"
          rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/navbar.css">
    {% for css in csss|default([]) %}
        <link rel="stylesheet" href="{{ css }}">
    {% endfor %}
    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.min.js"></script>
    <script src="/js/navbar.js"></script>
    <title>SQLBattle - {{ title }}</title>
</head>
