{% set title = 'Battle' %}
{% set desc = 'One of the challenges for SQLBattle. You can try one here and test your SQL knowledge.' %}
{% set csss = ['/css/battle.css'] %}
{% set jss = ['/lib/codemirror.js', '/js/battle.js'] %}
{% include ".html.twig" %}

<div class="content">
    <div class="container-lg">
        <div class="row">
            <div class="col header-block">
                <div>
                    <h1><span class="anchor battle-title">Title loading...</span></h1>
                    <article><span class="anchor battle-desc">Description loading...</span></article>
                </div>
                <div class="row real-estate">
                    <div class="col-md-4">
                        <div class="row">
                            <div class="col-4"><h3>Editor</h3></div>
                            <div class="col-3 anchor submit">
                                <button class="btn btn btn-sm btn-outline-primary btn-submit" disabled="disabled">
                                    Submit
                                </button>
                            </div>
                            <div class="col-2 anchor test">
                                <button class="btn btn btn-test btn-sm btn-outline-secondary">Test</button>
                            </div>
                            <div class="col-3 chars-holder">Chars:<br><b class="anchor chars"></b></div>
                        </div>
                        <div id="editor"></div>
                    </div>
                    <div class="col-md-4 anchor output">
                        <h3>Output</h3>
                        <div class="spinner-border text-danger loading-spinner" role="status"></div>
                        <div>
                            <h4>Latest command result:</h4>
                            <div class="table-responsive anchor table-result"></div>
                        </div>
                        <div class="subheader-space">
                            <h4>Database visual</h4>
                            <select class="form-select db-dropdown">
                                <option class="db-loading-text">Loading ...</option>
                            </select>
                            <div class="table-responsive anchor table-view"></div>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <h3>Target</h3>
                        <div>
                            <h4>Expected result:</h4>
                            <div class="table-responsive anchor table-target"></div>
                        </div>
                        <div>
                            <h4 class="subheader-space">Result check</h4>
                            <div class="table-responsive target-result"></div>
                            <div class="table-responsive target-result-text"></div>
                        </div>
                        <div class="score-holder">
                            <h4>Current score would be</h4>
                            <span class="table-responsive current-score"></span>
                        </div>
                        <div class="mobile-spacer"></div>
                    </div>
                </div>
                <div class="row leaderboard">
                    <div class="mt-4">
                        <h3>Leaderboard</h3>
                        <div class="m-4">
                            <table class="leader-table">
                                <thead>
                                <tr>
                                    <th></th>
                                    <th>Name</th>
                                    <th>Score</th>
                                </tr>
                                </thead>
                                <tbody class="battle-leaderboard">
                                </tbody>
                            </table>
                            <div class="actions mt-4">
                                <button class="btn btn-primary prev">Previous page</button>
                                <button class="btn btn-primary next">Next page</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% include ".footer.twig" %}