{% set title = 'Update your self' %}
{% set desc = 'SQLBattles change your profile page' %}
{% set csss = ['/css/content.css'] %}
{% set jss = ['/js/self.js'] %}
{% include ".html.twig" %}

<div class="content">
    <div class="container">
        <div class="row">
            <div class="col welcome">
                <div>
                    <h1>Welcome to SQLBattle!</h1>
                    <article>Change your appearance on SQLBattle</article>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col">
                <div>
                    <h2>Profile</h2>
                    <form onsubmit="return false">
                        <div class="alert alert-danger hidden" role="alert"></div>

                        <label for="image"><b>Image</b></label>
                        <canvas id="canvas-img" class="hidden" width="150" height="150"></canvas>
                        <div class="input-group mb-3">
                            <input id="image" type="file" class="form-control" accept="image/png, image/jpeg"
                                   onchange="uploadImg(this)"
                                   placeholder="Job title" aria-label="Username" aria-describedby="image-addon1">
                            <button onclick="updateImg()" class="btn btn-outline-secondary" type="button"
                                    id="image-addon2">Update
                            </button>
                        </div>

                        <label for="jobTitle"><b>Job title</b></label>
                        <div class="input-group mb-3">
                            <input id="jobTitle" type="text" class="form-control"
                                   placeholder="Job title" aria-label="Username" aria-describedby="jobTitle-addon1">
                            <button onclick="update('jobTitle')" class="btn btn-outline-secondary" type="button"
                                    id="jobTitle-addon2">Update
                            </button>
                        </div>

                        <label for="twitter"><b>Twitter</b></label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="twitter-addon1">@</span>
                            <input id="twitter" type="text" class="form-control"
                                   placeholder="Twitter username" aria-label="Username"
                                   aria-describedby="twitter-addon1">
                            <button onclick="update('twitter')" class="btn btn-outline-secondary" type="button"
                                    id="twitter-addon2">Update
                            </button>
                        </div>

                        <label for="website"><b>Website</b></label>
                        <div class="input-group mb-3">
                            <span class="input-group-text" id="website-addon1">https://</span>
                            <input id="website" type="text" class="form-control"
                                   placeholder="Website" aria-label="Username" aria-describedby="website-addon1">
                            <button onclick="update('website')" class="btn btn-outline-secondary" type="button"
                                    id="website-addon2">Update
                            </button>
                        </div>

                        <label for="git-select"><b>Git user</b></label>
                        <div class="input-group mb-3">
                            <select class="form-select" id="git-select">
                                <option>Bitbucket</option>
                                <option>Github</option>
                                <option>Gitlab</option>
                            </select>
                            <input id="git" type="text" class="form-control"
                                   placeholder="Username" aria-label="Username" aria-describedby="git-addon1">
                            <button onclick="updateGit()" class="btn btn-outline-secondary" type="button"
                                    id="git-addon2">Update
                            </button>
                        </div>


                        <label for="codepen"><b>Codepen</b></label>
                        <div class="input-group mb-3">
                            <input id="codepen" type="text" class="form-control"
                                   placeholder="Codepen username" aria-label="Username"
                                   aria-describedby="codepen-addon1">
                            <button onclick="update('codepen')" class="btn btn-outline-secondary" type="button"
                                    id="codepen-addon2">Update
                            </button>
                        </div>

                        <label for="hyven"><b>Hyven</b></label>
                        <div class="input-group mb-3">
                            <input id="hyven" type="text" class="form-control"
                                   placeholder="Hyven username" aria-label="Username"
                                   aria-describedby="hyven-addon1">
                            <button onclick="update('hyven')" class="btn btn-outline-secondary" type="button"
                                    id="hyven-addon2">Update
                            </button>
                        </div>

                        <button onclick="logout()" class="btn btn-outline-danger" type="button">
                            Log out
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{% include ".footer.twig" %}